body {
    background-color: #eceff0;
}

body,
input {
    font: 1em 'Open Sans', sans-serif;
    color: #363639;
}

div.fnc_btn {
    text-align: center;
    margin: 2px auto 15px;

    width: 80%;
}

a.function {
    text-decoration: none;
    font-size: 22px;
    color: inherit;
    border-bottom: none;
    padding: 10px;
    margin: auto;
    width: 100%;

}

a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}

/* List */

.list {
    background-color: #fff;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.list .top {
    text-align: center;
}

.list .top .header {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    margin: 10px auto;
    width: 80%;
}

/* Items */

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.items li:hover .done-button {
    opacity: 1;
    background-color: rgba(158, 0, 17, 0.91);
    color: black;
    transition: 400ms;
}

.items .item.done {
    text-decoration: line-through;
}

.item-add {
    margin-top: 18px;
}

.items li,
.item-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

/* Done button */

.done-button {
    display: inline-block;
    font-size: .8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    margin-left: 5px;
    border: 0;
    opacity: 0.4;
}

/* Submit button*/

.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px #ddd;
}